{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <p>{{ Test.Contenu }}</p>
    <h2>{{ Test.Note }}/10</h2>
</div>
{% endblock %}
